- can_admin_project = can?(current_user, :admin_project, @project)

= render layout: 'protected_branches/shared/branches_list', locals: { can_admin_project: can_admin_project } do
  = render partial: 'protected_branches/ee/protected_branch', collection: @protected_branches
